{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Нотатки{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header><nav class="container"><a href="{% url 'note_list' %}">Мої нотатки</a><a class="button" href="{% url 'note_create' %}">Створити нотатку</a></nav></header>
<main class="container">{% block content %}{% endblock %}</main>
</body>
</html>
