{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Notes app</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav>
        <a href="/">Головна</a>
        <a href="/about">Про нас</a>
    </nav>
</header>

<h1>{{ title }}</h1>

{% for note in notes %}
    <article class="card">
        <h2>{{ note.title }}</h2>
        <p>{{ note.text }}</p>
        <p><strong>Категорія:</strong> {{ note.category.title }}</p>
        <p><strong>Нагадування:</strong> {{ note.reminder|date:"d.m.Y" }}</p>
    </article>
{% empty %}
    <p>Нотаток поки немає.</p>
{% endfor %}

<a href='https://github.com/VadymMazur/notes_app' target='blank'>Перейти на сайт</a>


</body>
</html>
